In [1]:
import os
import re
import time
import pandas as pd
import numpy as np
from multiprocessing import Process, Manager, current_process

In [98]:
s_test = pd.concat([
#     pd.read_csv("./csv/19_11_22.csv"),
#     pd.read_csv("./csv/20_11_22.csv"),
#     pd.read_csv("./csv/21_11_22.csv"),
#     pd.read_csv("./csv/22_11_22.csv"),
#     pd.read_csv("./csv/23_11_22.csv"),
#     pd.read_csv("./csv/24_11_22.csv"),
    pd.read_csv("./csv/25_11_22.csv"),
#     pd.read_csv("./csv/26_11_22.csv"),
])
s_test = s_test.dropna()

s_test["rez"] = (s_test["6"] <= s_test["7"])

# s_test = s_test[ s_test['8'] == s_test['9'] ]

def foo(s_test, some_range, d):
    p_name = current_process().name 
    rez_l = []
    for i in some_range:
        for j in range(0, 10):
            for k in range(0, 10):
                for m in range(0, 10):
                    for h in range(0, 10):
                        for l in range(0, 10):
                            r = s_test[
                                (s_test['2'] == i)
                                &(s_test['3'] == j)
                                &(s_test['4'] == k)
                                &(s_test['5'] == m)
                                &(s_test['8'] == h)
                                &(s_test['9'] == l)
                            ]
                            r_dict = r['rez'].value_counts(normalize=True).to_dict()
    #                         print(i, r_dict.get(True, 0))                        
                            if r_dict.get(True, 0) >= 0.79 and r['rez'].value_counts().sum() >= 1:
#                                 print(filter_str, r_dict.get(True, 0), r['rez'].value_counts().sum())
                                rez_l.append([i,j,k,m,h,l])
    
    d[p_name] = rez_l
    

    
start = time.perf_counter()
p_list = []
rez_d = {}
with Manager() as mn:
    d = mn.dict()
    for i in np.array_split(range(10), 10):
        p = Process(target=foo, args=(s_test, i, d))
        p_list.append(p)
        p.start()

    for process in p_list:
        process.join()
    print(d)
    rez_d = {**d}
print(time.perf_counter() - start)
rez_d

{'Process-372': [[7, 1, 4, 3, 9, 4]], 'Process-368': [[3, 1, 2, 1, 7, 9], [3, 2, 1, 1, 7, 1]], 'Process-369': [[4, 3, 1, 2, 3, 3], [4, 5, 3, 0, 2, 9]], 'Process-374': [[9, 1, 5, 1, 6, 9]], 'Process-366': [[1, 0, 0, 1, 6, 1], [1, 0, 1, 0, 9, 7], [1, 0, 2, 2, 4, 5], [1, 0, 2, 2, 9, 1], [1, 0, 2, 3, 4, 2], [1, 1, 0, 2, 6, 3], [1, 1, 1, 1, 4, 5], [1, 1, 2, 0, 2, 3], [1, 2, 0, 4, 0, 0], [1, 2, 1, 0, 0, 6], [1, 2, 2, 1, 4, 7], [1, 2, 2, 2, 0, 7], [1, 2, 3, 2, 0, 7], [1, 2, 4, 2, 4, 3], [1, 3, 1, 1, 0, 2]], 'Process-373': [], 'Process-370': [[5, 0, 2, 0, 4, 9], [5, 2, 3, 1, 7, 9], [5, 4, 0, 1, 7, 3]], 'Process-367': [[2, 1, 1, 1, 4, 2], [2, 1, 4, 3, 3, 6], [2, 2, 0, 3, 6, 3], [2, 2, 1, 1, 4, 1], [2, 2, 2, 2, 2, 3], [2, 3, 2, 4, 3, 1], [2, 4, 2, 1, 1, 5]], 'Process-371': [[6, 3, 4, 3, 9, 4]], 'Process-365': [[0, 1, 1, 1, 1, 3], [0, 1, 2, 1, 0, 7], [0, 1, 2, 1, 6, 4], [0, 2, 0, 4, 4, 6], [0, 2, 4, 0, 0, 9], [0, 3, 0, 1, 1, 6], [0, 3, 5, 4, 1, 3]]}
228.9210695849979

{'Process-372': [[7, 1, 4, 3, 9, 4]],
 'Process-368': [[3, 1, 2, 1, 7, 9], [3, 2, 1, 1, 7, 1]],
 'Process-369': [[4, 3, 1, 2, 3, 3], [4, 5, 3, 0, 2, 9]],
 'Process-374': [[9, 1, 5, 1, 6, 9]],
 'Process-366': [[1, 0, 0, 1, 6, 1],
  [1, 0, 1, 0, 9, 7],
  [1, 0, 2, 2, 4, 5],
  [1, 0, 2, 2, 9, 1],
  [1, 0, 2, 3, 4, 2],
  [1, 1, 0, 2, 6, 3],
  [1, 1, 1, 1, 4, 5],
  [1, 1, 2, 0, 2, 3],
  [1, 2, 0, 4, 0, 0],
  [1, 2, 1, 0, 0, 6],
  [1, 2, 2, 1, 4, 7],
  [1, 2, 2, 2, 0, 7],
  [1, 2, 3, 2, 0, 7],
  [1, 2, 4, 2, 4, 3],
  [1, 3, 1, 1, 0, 2]],
 'Process-373': [],
 'Process-370': [[5, 0, 2, 0, 4, 9], [5, 2, 3, 1, 7, 9], [5, 4, 0, 1, 7, 3]],
 'Process-367': [[2, 1, 1, 1, 4, 2],
  [2, 1, 4, 3, 3, 6],
  [2, 2, 0, 3, 6, 3],
  [2, 2, 1, 1, 4, 1],
  [2, 2, 2, 2, 2, 3],
  [2, 3, 2, 4, 3, 1],
  [2, 4, 2, 1, 1, 5]],
 'Process-371': [[6, 3, 4, 3, 9, 4]],
 'Process-365': [[0, 1, 1, 1, 1, 3],
  [0, 1, 2, 1, 0, 7],
  [0, 1, 2, 1, 6, 4],
  [0, 2, 0, 4, 4, 6],
  [0, 2, 4, 0, 0, 9],
  [0, 3, 0, 1, 1, 6],
  [0, 3, 5, 4, 1, 3]]}

In [124]:
for_test = pd.read_csv("./csv/26_11_22.csv")
for_test["rez"] = (for_test["6"] <= for_test["7"])

for v in rez_d.values():
    if v == []:
        continue
    for i,j,k,m,h,l in v:
        r = for_test[
            (for_test['2'] == i)
            &(for_test['3'] == j)
            &(for_test['4'] == k)
            &(for_test['5'] == m)
            &(for_test['8'] == h)
            &(for_test['9'] == l)
        ]
        if r.empty:
            continue
        proc = r['rez'].value_counts(normalize=True).get(True, 0)
        if proc >= 0.0:
            print(f_str, r['rez'].value_counts().to_dict(), proc)

[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 2} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 2} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1, False: 1} 0.5
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0
[7, 1, 4, 3, 9, 4] {True: 1} 1.0

In [208]:
# tests
df = pd.concat([
#     pd.read_csv("./csv/19_11_22.csv"),
#     pd.read_csv("./csv/20_11_22.csv"),
#     pd.read_csv("./csv/21_11_22.csv"),
#     pd.read_csv("./csv/22_11_22.csv"),
#     pd.read_csv("./csv/23_11_22.csv"),
#     pd.read_csv("./csv/24_11_22.csv"),
#     pd.read_csv("./csv/25_11_22.csv"),
    pd.read_csv("./csv/26_11_22.csv"),
])
df = df.dropna()
df["rez"] = (df["6"] <= df["7"])
df_rez = df[
    (df['8'] < 3)
#     (df['8'] - df['9'] <= 3)
    &(df['2'] - df['3'] <= -4)
    &(df['4'] - df['5'] > -3)
#     &(df['2'] - df['4'] <= -1)
#     &(df['3'] - df['5'] >= 3)
#     &(df['3'] >= 4)

        ]
print(df_rez['rez'].value_counts())
# df_rez[df_rez['rez'] == False]
df_rez

True     10
False     7
Name: rez, dtype: int64

,0,1,2,3,4,5,6,7,8,9,rez
3,Торки Юнайтед,Гейтсхэд,1,5,1,2,1.0,1.0,1,3,True
57,Верея,Ямбол 1915,0,4,3,0,1.0,4.0,0,4,True
62,Ботев Нови-Пазар,Спартак II,0,4,3,1,1.0,2.0,0,9,True
82,Ханкофен-Хайлинг,Пипинсрид,1,7,1,3,1.0,1.0,0,0,True
108,Энерги U19,Целендорф U19,1,5,9,3,1.0,1.0,1,5,True
113,HK U23,Гонконг Рейнджерс,0,7,0,2,0.0,5.0,0,4,True
120,Норшелланн (Ж),КольдингКью (Ж),2,6,2,3,1.0,0.0,1,4,False
124,Билдкон,Занако,1,5,1,1,1.0,1.0,1,5,True
150,Huracan Melilla,Уэтор-Тахар,1,7,4,4,0.0,5.0,0,4,True
154,Муленьо,Сьюдад Мурсия,0,6,3,2,2.0,0.0,0,4,False
175,Цзыбо Цуцзюй,Пекинский спортивный университет,1,5,3,2,2.0,1.0,0,4,False
190,Ферровариу Накала,ЛД Мапуто,1,5,4,2,1.0,0.0,0,6,False
225,Брашов,Четате Рышнов,1,5,3,4,2.0,1.0,0,6,False
247,Тетекс,Вардар,0,7,4,1,0.0,2.0,0,7,True
249,Нортерн Динамо,Bel Air,1,6,6,1,5.0,2.0,0,6,False
260,Руву Шутинг,Singida Big Star,0,4,1,1,0.0,1.0,1,4,True
275,Цвмбран Селтик,Понтардейв,4,9,4,6,6.0,0.0,0,4,False

In [205]:
df = pd.read_csv("./csv/27_11_22_test.csv")
df[
    (df['9'] >= 7)
#     (df['8'] - df['9'] <= 3)
    &(df['2'] - df['3'] <= -4)
    &(df['4'] - df['5'] > -3)
#     &(df['2'] - df['4'] <= -1)
#     &(df['3'] - df['5'] >= 3)
#     &(df['3'] >= 4)

        ]

                        0             1  2  3  4  5   6   7  8  9
225             Феррейраш      Лузитано  0  5  2  1 NaN NaN  1  7
260  Университет Мин Чуан  Тайвань Стил  0  5  4  0 NaN NaN  3  9